/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
article, aside, figure, footer, header,
hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* END RESET CSS */

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #084B8A } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #084B8A } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */




/* BODY */
body {padding:30px 20px;font-family: 'Lato', sans-serif; font-size: 14px;}

html {overflow-y:scroll;}

.main ul {margin: 0 0px 10px 25px;}
.main ul li {list-style-type: circle; font-size:1.0em;}
.alt ul li {list-style-type: none;}

/* NAVIGATION */
.topnav {text-align:right; border-bottom: 0px solid #084B8A; background: #ffffff; margin-bottom: 30px;  font-family: "Roboto Slab", serif; font-optical-sizing: auto;}
.topnav ul { padding:0; margin:0; list-style:none;}
.topnav ul li { display:inline-block; margin-right:2em;}
.topnav ul a { text-transform: uppercase; color: #5B5B5B;  display:block; width:7em; padding-right:1em; /*padding: 0.3em 0.8em 0.3em 0.8em; margin: 0 0.9em 0 0.9em;*/}
.topnav ul a:hover { color:#000000;}
.topnav ul a:active { color:#000000;}

/* NAVIGATION */
.sidenav {font-family: "Roboto Slab", serif; font-optical-sizing: auto; width:90%; color: #5B5B5B;}
.sidenav ul { padding:0; margin:0; list-style:none;}
.sidenav ul li { display:inline;}
.sidenav ul a { text-transform: uppercase; color: #5B5B5B;}
.sidenav ul a:hover { color:#000000;}
.sidenav ul a:active { color:#000000;}

.pinky {color:#CA6680; font-size: 0.9em;}

#nav-home a {padding-bottom:3px; font-weight: bold; font-size: 1.1em;}
#nav-research a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}
#nav-culture a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}
#nav-team a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}
#nav-service a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}
#nav-publications a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}
#nav-labs a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}
#nav-contact a {padding-bottom:3px; font-weight: bold; font-size: 1.1em}

#home #nav-home a {padding-bottom:0px; color:#4F759B; }
#research #nav-research a {padding-bottom:0px; color:#2ca25f; }
#culture #nav-culture a {padding-bottom:0px; color:#759298;}
#team #nav-team a {padding-bottom:0px; color:#D57A66;}
#service #nav-service a {padding-bottom:0px; color:#6f3e71;}
#publications #nav-publications a {padding-bottom:0px; color:#CA6680;}
#news #nav-news a {padding-bottom:0px; color:#4F759B; }
#labs #nav-labs a {padding-bottom:0px; color: #8A03CE; }
#contact #nav-contact a {padding-bottom:0px; color: #F6339A; }

#nav-home a:hover  {color:#4F759B;}
#nav-research a:hover  {color:#2ca25f;}
#nav-culture a:hover  {color:#759298;}
#nav-team a:hover  {color:#D57A66;}
#nav-service a:hover  {color:#6f3e71;}
#nav-publications a:hover  {color:#CA6680;}
#nav-labs a:hover  {color: #8A03CE; }
#nav-contact a:hover  {color: #F6339A; }

#nav-home a:active  {color:#4F759B; padding-bottom:0px; }
#nav-research a:active  {color:#2ca25f; padding-bottom:0px; }
#nav-culture a:active  {color:#759298; padding-bottom:0px; }
#nav-team a:active  {color:#D57A66; padding-bottom:0px; }
#nav-service a:active  {color:#6f3e71; padding-bottom:0px; }
#nav-publications a:active  {color:#CA6680; padding-bottom:0px; }
#nav-labs a:active  {color:#8A03CE; padding-bottom:0px; }
#nav-contact a:active  {color: #F6339A; padding-bottom:0px; }


/* SIDEBAR */
#mysidebar { position:fixed; float:left; width:235px; margin-top: -1em;}
#mysidebar h1 { color:#000000;}
#mysidebar h1 a {color:#444;}
#mysidebar .namePlate { margin-bottom: 1em; color: #000000;}
#mysidebar .author-info, .author-links{margin:20px 0;font-size:12px;font-style:normal;}
#mysidebar .author-info p {margin:0;}
#mysidebar .author-info .block {margin:6px 0;}
#mysidebar .social { margin-top:12px; font-size:28px;}
#mysidebar .social a {padding-right:5px;color:#585858;}
#mysidebar .social a:hover {color:#084B8A;border-bottom: none;}


#head-home {border-bottom: 3px solid #4F759B; padding-bottom:5px;color:#444;}
#head-research {border-bottom: 3px solid #2ca25f; padding-bottom:5px;color:#444;}
#head-culture {border-bottom: 3px solid #759298; padding-bottom:5px;color:#444;}
#head-team {border-bottom: 3px solid #D57A66; padding-bottom:5px;color:#444;}
#head-service {border-bottom: 3px solid #6f3e71; padding-bottom:5px;color:#444;}
#head-publications {border-bottom: 3px solid #CA6680; padding-bottom:5px;color:#444;}
#head-news {border-bottom: 3px solid #4F759B; padding-bottom:5px;color:#444;}
#head-labs {border-bottom: 3px solid #8A03CE; padding-bottom:5px;color:#444;}
#head-contact {border-bottom: 3px solid #F6339A; padding-bottom:5px;color:#444;}

/* WRAPPER */
.wrapper {width:1024px; margin:0 auto; height: 300px;}
 

/* MAIN */
.main {float:right; width:780px; padding-bottom:50px; padding-right:0px;}

p {margin: 0 0 1em 0;}


/* PROFILE IMAGE */
.profile {float:right; margin: 15px; line-height:0;}

/* PROFILE IMAGE */
/*.profile-img {width: 18em; border-radius: 18em; -webkit-border-radius: 18em; -moz-border-radius: 18em; box-shadow: 0 0 3px rgba(0, 0, 0, .3); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);}*/


.profile-img {width: 15em;}



/* OTHER */
h1, h2, h3, h4, h5, h6 {  font-family: "Roboto Slab", serif; font-optical-sizing: auto;}

h1 {font-size: 1.5em; line-height: 1em; margin: 0px 0px 5px 0px; color: #444 ;}
h1 a {text-transform: none; color: #084B8A;}
h2 {text-transform: none; font-size: 1.2em; font-weight: bold; color: #444; border-bottom: 1px solid #cccccc; margin: 1.6em 0 0.5em 0; width:100%;  padding-bottom: 0.4em;}
h3 {font-size: 1.1em; font-weight: 700; color:#444; border-left: 0px dotted #888888; margin: 1.4em 0 0.5em 0; width:100%;}
h4 {font-size: 1.0em; font-weight: 600;  color:#444;  border-bottom: 0px solid #dadada; font-style:italic; margin: 1.0em 0 0.5em 0; width:100%;}
h5 {font-size: 0.9em; font-style:italic; color:#444;}
h6 {font-size: 1.0em; color:#444; font-weight: 400;}

h2 .smallTeach {font-weight: normal; font-style: italic; font-size:0.8em; color: #db7f1c;}
h2 .smallPub {font-weight: normal; font-style: italic; font-size:0.8em; color: #CA6680;}
h2 .smallService {font-weight: normal; font-style: italic; font-size:0.8em; color: #6f3e71;}
h2 .smallResearch {font-weight: normal; font-style: italic; font-size:0.8em; color: #2ca25f;}
h2 .smallServiceMod {font-size:0.7em;}

h4 .smallTeach {font-weight: normal; font-style: italic; font-size:0.8em; margin-left: 2em;}
h4 .smallPub {font-weight: normal; font-style: italic; font-size:0.8em; margin-left: 2em;}
h4 .smallService {font-weight: normal; font-style: italic; font-size:0.8em; margin-left: 2em;}

.travel{ margin-top: 10em; width: 90%; margin-bottom: 10em;}

 .prjImgFlt {margin: 2em 0;}

.superIcon {font-size:0.8em; color: #db7f1c; background-color: white;} 

h3 span {font-style: normal; font-weight: normal; font-size:0.8em}

/* Sidebar text, copyright and disclaimer, links and image */
.legal {margin-top: 20px;font-size: 0.7rem; font-weight: bold; color: #848484; font-weight: normal;}


.icoFrame {
  width: 12px;
  height: 12px;
  display: inline-flex;
  border-radius: 2px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  margin-left: 0px;
  color: white;

} 

.icoFrame:first-child {
  margin-left: 0px;
}
.icoFrame:last-child {
  margin-right: 0px;
}

.logo {width:80%; padding: 0 0 10px 0;}


.ico {color:#585858; font-size: 0.9rem;}

.icoa {color:#585858; font-size: 0.9rem; padding-left:3px; padding-right:3px;}

.icoc {color:#585858; font-size: 1.05em; margin-left:1px; margin-right:1px;}

.monthcell {width:20%;}

.myservice {width: 100%; margin-bottom: 30px;}

.myservice td {padding: 0 20px 3px 0;}

.yearcell {width:18%;text-align: right;}

.venuecell {width:20%;text-align: left;}

.venue {padding-right: 0.2em; font-style: italic; color: #6f3e71;}

.year {padding-left: 0.2em; font-style: italic; color: #3C3B3B;}

.accent_service {color: #6f3e71;}


.tiny {font-size: 0.8em; margin-top: -0.3em; margin-left: 1em;}


.footRule {margin: -0.3em 0em 0.8em 1.8em; border-bottom: 1px solid #cccccc; width:100px;}
.footNote{margin: -0.8em 0em 0.8em 2.7em; color: #6f3e71; font-size: 0.7em;}

.footNoteB{margin: -0.8em 0em 0.8em 2.7em; font-size: 0.7em;}

.datenote {float:right; font-size:0.8em; margin-top:0.1em; margin-right:2em; color: #084B8A;}

.detailRef + span {font-size: 1em;}

.detailRef + a {font-size: 1em;}

pre, code {
  border: 1px solid #d5d5e9;
  background-color: #eee;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
  margin: 0px;
  font-size: 0.8em;
  width: 95%; max-width: 900px;
  overflow: auto;
  display: block;
  font-family: monospace;
  white-space: pre;
}


/* TABLES */
table, tr, td {background-color: #ffffff;}
th {text-align: left; padding-top: 8px;}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {background-color: #ffffff;}


.divider {background: red; margin-right: 30px;}

.headT {margin-bottom: 5px;}

.main ul.pubs {margin: 0 0px 10px 5px;}
.main ul.pubs li {list-style-type: none; margin: 0 auto; margin-top:15px; margin-bottom: 30px; padding-left: 0em; font-size:1.0em;}

.main ul.pres {margin: 0 0px 10px 5px;}
.main ul.pres li {list-style-type: none; margin: 0 auto; margin-top:15px; margin-bottom: 15px; padding-left: 0em; font-size:1.0em;}



.main ul.b {margin: 0px 0px 10px 30px;}
.main ul.b li { list-style-type: none; margin: 2px 0px 2px 0px; padding-left: 0em; font-size:1em;}

.main	ul.b li:before{ content:"-"; position:relative; left:-5px;}
.main	ul.b li{ text-indent:-5px; }

.pubtype {margin: 20px 0px 55px 0px;}

.download{font-size:8pt;}

.button {background-color: #e5e5e5; color:#5b5b5b; padding: 2px 4px 4px 4px; font-size: 0.8em; font-style: normal; border-radius:2px; border: 0px solid #737373; margin-left:2px; text-align: center;}

a.button.active {background-color: #2ca25f; color:#ffffff;}

a.button:hover {background-color: #2ca25f; color:#ffffff; border: 0px solid #006600;}

.button-group {width: 100%; line-height: 1.8;}

strong{color: #585858;}

b {color: #585858;}

.goto {float:right; font-size:8pt;margin-right:10px;}

.fundingInfo { color:#2ca25f; font-size: 0.7em;}

a {text-decoration: none; color: #006bb3;}

a:hover {color: #0099ff; border-bottom: 0px dotted #0099ff;}
a img {border: 0;}
ul,ol,dl {font-size: 1em; margin: 2px 0 16px 5px;}
ul ul,ol ol {margin: 4px 0 4px 5px;}

/*.post-date-standalone{color: #4C4C4C; display: inline; margin-right :10px; padding:4px 4px 2px 4px; font-size: 1.0rem; font-weight: normal;}*/
.post-title {margin-bottom:0.7em; margin-top: 1em; padding-bottom: 0.5em; border-bottom: 1px solid #D8D8D8; color: #585858; font-size:1.4em; line-height: 1.2em;}
.post-date {font-size: 0.7rem; font-weight: normal; color: #006600; font-style: italic; margin-top:0.5em;}
.postTags {font-size: 1em; color:#2ca25f; margin-left: 30px;}




/* Front-page lists */
.post-date-list {display: inline-block; width:90px; padding:4px 0px 3px 5px; font-size: 0.9rem; font-weight: normal; color: #4C4C4C; font-style: italic;}
/*.post-title-list {margin-bottom:0px;font-size: 1.0rem; font-weight: normal; font-family: 'Open Sans', sans-serif;}*/
.post-title-list {border-bottom: 1px solid #F2F2F2;margin-bottom: 10px; width: 100%;}

/*.post-title-list a:hover {background: #F2F2F2; padding: 0px; border-bottom: 1px solid #F2F2F2;}*/
.truncate {width: 100%px;	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.truncateB {width: 100%px;	white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;}

.biblinks { font-weight: 200; font-size: 0.8em;}

.supernote { font-weight: 200; margin-left: 0.2em;}


.sidenote { font-size:0.8em; margin-top:-2em; margin-left:1em; color: #084B8A;}


.venuenote { font-size:0.8em; margin-top:-2em; margin-right:6em; color: #6f3e71;}


.social {border-top: 3px solid #D8D8D8; margin-top: 30px;}

.noBorder {border-top: 0px solid #D8D8D8;}

.linkbac .linktweet {display: inline;}
.linkbac {float: left;}
.linktweet{float: right;}

.google-maps {position: relative; padding-bottom: 75%; height: 0; overflow: hidden;}

.google-maps iframe {position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;}

.bibliography li {margin-bottom:35px; font-size: 0.9em;}

.bibliography {margin-bottom:10x; margin-top:20px; margin-left: 0px; font-size: 1em;line-height: 140%;}

.bibliography p {margin-bottom: 25px; margin-left:5px; font-size: 1em;}

.bibliography > li {list-style: none; margin-bottom:20px;}

.promotions a img {width: 40%; margin-right: 5px; float:left;}

.addedInfo {font-size: 0.9em; color:#CA6680;}

.mediaCaption{font-size: 0.9em; width: 70%; margin: 2em auto 3em auto; display: block;}


.bucket {margin-top: 2.5em;}

.bibEntry {border-left: 5px LightGray solid; padding-left: 10px; margin-bottom: 20px;}

figure {font-size: 0.9em; max-width: 80%; margin: 3em auto 3em auto;}

figcaption { margin-top:1em; }

.mysmallmargin {margin-top: 3em;}

.clearfix{clear:left;}

.toggle {background-color:#ffffff; color:#595959 ;border-left: 2px solid #CA6680; border-bottom: 0px dashed #FF6978; padding-left:0.5em; display:block; margin: 1em 0em -1em 1em; font-size: 0.9em;}
.trigger {display:inline-block;}

.mystrong {font-weight:bolder;; color: #404040; font-size: 1em;}

.myabstract {color: #585858;}

.abstractlink {color:  #006bb3; cursor: pointer; cursor: hand;}
.pdflink {}
.doilink{}
.isbnlink{}
.previewlink{}
.urllink{}
.filelink{}

.role {text-transform: none;font-size: 1em; border: 0 solid black; font-weight: 400; margin: 0;}








/* = Projects
 * -------------------------------------------------------------------------- */
.project-card {display: flex; border: 1px red solid; padding-left: 1em; margin-bottom: 1em;}
.project-image {flex: 0 0 20%;}
.project-text {flex: 1;}
.projects-year {clear: both; overflow: hidden;}
.projects-date {float: left; width: 7.5em; /* 105px */ text-align: center;}
.projects-gallery {margin: 0 auto;}
.projects-project {float: left; width: 10rem; height: 10rem; margin: 0 1.0em 1.0em 1.0em;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.projects-current {margin-top: 1.5em;}
.projects-photo {position: relative; height: 100%; width: 100%; background-color:#049652; border-radius: 0px;}
.projects-photo img {border-radius: 0px; }
	/*-webkit-filter: grayscale(100%); 
    filter: grayscale(100%); opacity: 0.90;
    -moz-opacity: 90%;
    -webkit-opacity: 90%;} */
.projects-name {position: absolute; bottom: 0; left: 0; width: 100%; height: 3em; text-align: center; font-size: 0.9em; font-weight: 400;}
.projects-name-long {margin-top:0.15em; display: block; padding: 0 2px 0 2px;}

.projects-photo p {width: 100%; margin: 0.75em 0 0.75em 0;}
a .projects-name {background: rgb(229, 229, 229); /* fallback colour */ background: rgba(229, 229, 229, 1); color: #5b5b5b;}
a:hover .projects-name {background: rgb(44, 162, 95); /* fallback colour */ background: rgba(44, 162, 95, 0.8); color: #fff; font-weight: bold;}
.projects-photo a:hover {text-decoration: none;}
.projects-photo img:hover {border-radius: 0px;  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */filter: grayscale(0%); opacity: 1.00;}

/* = Project Profiles
 * -------------------------------------------------------------------------- */
/*.project-photo {width: 13em; height: 13em; background-color: #586990; border-radius: 0px;}
.project-profile-photo {background-color: #586990;}
#project-abstract {clear: both;}*/







/* RESPONSIVE MULTIMEDIA (VIMEO, YOUTUBE etc.) */
.embed-container { position: relative; padding-bottom: 26.25%; height: 0; overflow: hidden; max-width: 50%; margin: 0 auto;}
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.embed-container-yt { position: relative; padding-bottom: 45%; height: 0; overflow: hidden; max-width: 100%; margin: 0 auto;}
.embed-container-yt iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.embed-container-vm { position: relative; padding-bottom: 65%; height: 0; overflow: hidden; max-width: 100%; margin: 0 auto;}
.embed-container-vm iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}



/*.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/11712103' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>*/






/*  ------------ People Pages ----------------------------------- */
.pplName {margin-left: 110px; margin-top:0px;overflow: auto;}
.pplImg {width: 100px; height:100px; float:left; margin-top:10px;

	border-radius: 1000px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.pplTag {float:right;font-style: italic; color: red;}
.pplMargin{width:110px;}
.pplDesc{margin-left: 110px; display: block; margin-bottom:3em;}
.pplCard {display: block; height:15em;}




/*  ------------ Labs Pages ----------------------------------- */
.labName {margin-left: 110px; margin-top:0px;overflow: auto;}
.labImg {width: 100px; height:100px; float:left; margin-top:10px;
	/* border-radius: 1000px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px; */
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.labTag {float:right;font-style: italic; color: red;}
.labMargin{width:110px;}
.labDesc{margin-left: 110px; display: block; margin-bottom:3em;}
.labCard {display: block; height:15em;}

.labCard {display: block; height:15em;}






/* MOBILE */
@media (max-width:960px){
  html, body{ font-size: 0.9em;}
  .wrapper {width:100%;position: absolute;}
  .main {display:inline-block; float:left; width:95%;}
  .topnav {position:relative; display: block;text-align: left;width:100%; margin-top: 10px; margin-bottom: 20px;}
  .topnav ul {padding:0; margin:0; list-style:none; }
  .topnav ul li {display:inline-block; margin-right:14px;}
  /*.topnav ul a { color:#666; padding: 0.2em 0.4em 0.2em 0.4em; margin: 0 0.5em 0 0.5em;}*/

  .travel{ display: none}

  .sidenav {width:100px; margin-top: 45px;;}

  #mysidebar {display: inline-block;position: relative; width: 90%; float:left; margin: 0 auto; padding: 0; overflow: auto;}
  #mysidebar .author-info {float:left; margin-left: 1em; width:20em;}
  #mysidebar .author-links {float:left; display:block; position: relative;margin-right: 1em; margin-top: 2em;}
  #mysidebar .social {margin-top:0.2em; }
  #mysidebar .social a {padding-right:0em;}
  #mysidebar .legal {margin-top:0.1em;}
  .project img {width: 25%;}
  .projectdesc {width:65%;}
  /*.download{f}
  .datenote {}*/
  .icob {margin-left: -1px;}
  /*.smallfont {}*/
  .promotions {visibility: hidden;display: none;}
  .logo {width:80%; padding: 0 0 10px 0;}
}






@media (max-width:810px){
	  html, body{ font-size: 0.8em;}
    .topnav {position:relative; display: block;text-align: left;width:100%; margin-top: 10px; margin-bottom: 10px;}
    .topnav ul {padding:0; margin:0; list-style:none;}
    .topnav ul li {display:inline-block; margin-right:14px;}
    .topnav ul a { font-size:1.2em;}
    #mysidebar .author-info {float:left; margin-left: 1em; width:20em;}
    #mysidebar h1 {font-size: 2.2em;}
    #mysidebar .author-links {margin-top: 4em;}
    #mysidebar .social {font-size:1.8em; margin-top:0.0em; }
    #mysidebar .author-info, .author-links {font-size:0.9em;}
    .icob{font-size: 1em;}
    #mysidebar .legal {font-size: 0.8em;}
    .icob {margin-left: 1px;}
    .icoc {margin-right:0px;}
}


@media (max-width:720px){
    .topnav ul a { font-size:1.1em;}
}

@media (max-width:669px){
    .topnav ul a { font-size:1.0em;}
}



@media (max-width:620px){

  body {padding:10px 10px;}

  .topnav ul a { font-size:1.0em; width: auto;}

 

 /* #nav-home a {border-bottom: 2px solid #4F759B; padding-bottom:3px;}
  #nav-research a {border-bottom: 2px solid #2ca25f; padding-bottom:3px;}
  #nav-links a {border-bottom: 2px solid #759298; padding-bottom:3px;}
  #nav-teaching a {border-bottom: 2px solid #D57A66; padding-bottom:3px;}
  #nav-service a {border-bottom: 2px solid #6f3e71; padding-bottom:3px;}
  #nav-publications a {border-bottom: 2px solid #CA6680; padding-bottom:3px;}

  #home #nav-home a {border-bottom: 5px solid #4F759B; padding-bottom:0px; }
  #research #nav-research a {border-bottom: 5px solid #2ca25f; padding-bottom:0px; }
  #links #nav-links a {border-bottom: 5px solid #759298; padding-bottom:0px; }
  #teaching #nav-teaching a {border-bottom: 5px solid #D57A66; padding-bottom:0px; }
  #service #nav-service a {border-bottom: 5px solid #6f3e71; padding-bottom:0px; }
  #publications #nav-publications a {border-bottom: 5px solid #CA6680; padding-bottom:0px; }

  #nav-home a:hover  {border-bottom: 5px solid #4F759B; padding-bottom:0px; }
  #nav-research a:hover  {border-bottom: 5px solid #2ca25f; padding-bottom:0px; }
  #nav-links a:hover  {border-bottom: 5px solid #759298; padding-bottom:0px; }
  #nav-teaching a:hover  {border-bottom: 5px solid #D57A66; padding-bottom:0px; }
  #nav-service a:hover  {border-bottom: 5px solid #6f3e71; padding-bottom:0px; }
  #nav-publications a:hover  {border-bottom: 5px solid #CA6680; padding-bottom:0px; }*/
  .yearcell {width:20%;font-size:0.9em;}
}



/*

@media (max-width:504px){
    .topnav ul a { color:#666; font-size:1.1em; padding: 0.2em 0.4em 0.2em 0.4em; margin: 0 0.5em 0 0.5em;}
}


@media (max-width:470px){
    .topnav ul a { color:#666; font-size:1.0em; padding: 0.2em 0.4em 0.2em 0.4em; margin: 0 0.5em 0 0.5em;}
}

*/

@media (max-width:485px){
  .topnav ul a { font-size:0.9em; width: auto;}

}

@media (max-width:456px){

.topnav ul li {margin-right:5px;}

 /* #nav-home a {border-bottom: 1px solid #4F759B; padding-bottom:2px;}
  #nav-research a {border-bottom: 1px solid #2ca25f; padding-bottom:2px;}
  #nav-links a {border-bottom: 1px solid #759298; padding-bottom:2px;}
  #nav-teaching a {border-bottom: 1px solid #D57A66; padding-bottom:2px;}
  #nav-service a {border-bottom: 1px solid #6f3e71; padding-bottom:2px;}
  #nav-publications a {border-bottom: 1px solid #CA6680; padding-bottom:2px;}

  #home #nav-home a {border-bottom: 3px solid #4F759B; padding-bottom:0px; }
  #research #nav-research a {border-bottom: 3px solid #2ca25f; padding-bottom:0px; }
  #links #nav-links a {border-bottom: 3px solid #759298; padding-bottom:0px; }
  #teaching #nav-teaching a {border-bottom: 3px solid #D57A66; padding-bottom:0px; }
  #service #nav-service a {border-bottom: 3px solid #6f3e71; padding-bottom:0px; }
  #publications #nav-publications a {border-bottom: 3px solid #CA6680; padding-bottom:0px; }

  #nav-home a:hover  {border-bottom: 3px solid #4F759B; padding-bottom:0px; }
  #nav-research a:hover  {border-bottom: 3px solid #2ca25f; padding-bottom:0px; }
  #nav-links a:hover  {border-bottom: 3px solid #759298; padding-bottom:0px; }
  #nav-teaching a:hover  {border-bottom: 3px solid #D57A66; padding-bottom:0px; }
  #nav-service a:hover  {border-bottom: 3px solid #6f3e71; padding-bottom:0px; }
  #nav-publications a:hover  {border-bottom: 3px solid #CA6680; padding-bottom:0px; }*/


    #mysidebar h1 {font-size:1.8em}
    #mysidebar .social {font-size:1.5em; margin-top:0.0em; }
    #mysidebar .author-info {float:left; margin-left: 1em; width:16em;}
    /*.topnav ul a { color:#666; font-size:1.0em; padding: 0.2em 0.4em 0.2em 0.4em; margin: 0 0.5em 0 0.5em;}*/

    .button {font-size: 0.7em; border-radius:1px; margin-left:1px; padding: 1px 2px 2px 2px;}
    .button-group {width: 95%; line-height: 1.6;}



}


@media (max-width:437px){
    body{ font-size: 0.7em;}
    /*.topnav ul a { color:#666; font-size:0.9em; padding: 0.2em 0.4em 0.2em 0.4em; margin: 0 0.5em 0 0.5em;}*/
    #mysidebar .author-links {margin-top: 5em;}
    .bibliography p {margin-bottom: 20px; font-size: 1em;}
	/*.profile-img {width: 80px; border-radius: 80px; -webkit-border-radius: 60px; -moz-border-radius: 60px; box-shadow: 0 0 3px rgba(0, 0, 0, .3); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);}*/

    .superIcon {font-size:0.8em; color: #db7f1c; background-color: white; margin-left: -0.9em;} 

}

@media (max-width:375px){
    body{ font-size: 0.7em;}
    .topnav {margin-top: 5px;}
    .topnav ul a {font-size:0.8em;}
    h1 {font-size:1.4em}
}


@media (max-width:342px){
    body{ font-size: 0.7em;}
    .topnav ul a {font-size:0.5em;}
}



