    <div class="social noBorder">
      <a href="https://github.com//hccbu.github.io" title="Bangor HCC @ Github" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://twitter.com/hccbu" title="Bangor's HCC @ Twitter :: https://twitter.com/hccbu" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://vis.social/@hccbu" title="Bangor's HCC @ Mastodon Social :: https://vis.social/@hccbu" target="_blank"><i class="fa-brands fa-mastodon"></i></a>      
      <a href="https://bsky.app/profile/hccbu.bsky.social" title="Human-Centred Computing Bangor University @ BlueSky :: https://bsky.app/profile/hccbu.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
    </div>